/.vs/

/src/GraphQLApiExample.Application/bin/
/src/GraphQLApiExample.Application/obj/
/src/GraphQLApiExample.Domain/bin/
/src/GraphQLApiExample.Domain/obj/
/src/GraphQLApiExample.Infrastructure/bin/
/src/GraphQLApiExample.Infrastructure/obj/
/src/GraphQLApiExample.WebApp/bin/
/src/GraphQLApiExample.WebApp/obj/

/tests/GraphQLApiExample.Application.Tests/bin/
/tests/GraphQLApiExample.Application.Tests/obj/
/tests/GraphQLApiExample.Infrastructure.Tests/bin/
/tests/GraphQLApiExample.Infrastructure.Tests/obj/